/*  
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

$color-primary: #F03000;
$default-font:  "Montserrat",sans-serif;
$body-text:     16px;

.menu {
    display: flex;
}


.menu__item {
    list-style: none;
    color: $color-primary;
    font-size: 18px;


}


/* .menu__item--selected {

} */