/*  
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

$color-primary: #F03000;
$default-font:  "Montserrat",sans-serif;
$secondary-font: "Open Sans", sans-serif;
$body-text:     16px;

.body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.title {
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-around;
 
}


.menu__item {
    list-style: none;
    color: $color-primary;
    font-size: 18px;
    padding: 20px;
    font-family: $default-font;
   
}


.menu__item--selected {
    list-style: none;
    background-color: $color-primary;
    font-size: 18px;
    color: white;
    padding: 20px;
    font-family: $default-font;
}

.foto {
    color: white;
    position: relative;
    
    .foto__price {
        background-color: $color-primary;
        padding: 10px;
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: $default-font;
        font-size: 18px;
    }
    .foto__text{
        position: absolute;
        bottom: 25px;
        left: 20px;
        font-family: $secondary-font;
    }

    .foto__title--big{
        position: absolute;
        bottom:60px;
        left: 20px;
        font-size: 28px;
        font-family: $default-font;
        font-weight: 600;
    }

    .foto__title--small{
        position: absolute;
        bottom: 25px;
        left: 20px;
        font-family: $default-font;
        font-size: 20px;
        font-weight: 600;
    }

    .foto__img {
        width: 100%;
    }
}