/*  
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

$color-primary: #F03000;
$color-secondary: #F0F0F0;
$default-font:  "Montserrat",sans-serif;
$secondary-font: "Open Sans", sans-serif;
$body-text:     16px;

.body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
}

.title {
    margin: auto;

    .title__img {
        margin-top: 36px;
        margin-bottom: 10px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;

    &__item {
        list-style: none;
        color: $color-primary;
        font-size: 18px;
        padding: 20px;
        font-family: $default-font;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: $color-primary;
            color: white;
        }
    }
}

.foto {
    color: white;
    position: relative;
    margin: 10px 20px;


    
    &__price {
        background-color: $color-primary;
        padding: 10px;
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: $default-font;
        font-size: 18px;
    }

    &__text{
        position: absolute;
        bottom: 30px;
        left: 20px;
        font-family: $secondary-font;
        padding-right: 20px;
    }

    &__title--big{
        position: absolute;
        bottom:70px;
        left: 20px;
        font-size: 28px;
        font-family: $default-font;
        font-weight: 600;
        padding-right: 20px;
    }

    &__title--big2{
        position: absolute;
        top:90px;
        left: 20px;
        font-size: 28px;
        font-family: $default-font;
        font-weight: 600;
        padding-right: 20px;
    }

    &__title--small{
        position: absolute;
        bottom: 25px;
        left: 20px;
        font-family: $default-font;
        font-size: 20px;
        font-weight: 600;
    }

    &__img {
        width: 100%;
    }
}

.block {
    display:flex;
    background-color: $color-secondary;
    margin: 10px 20px ;

    &__icon {
        padding-top: 20px;
        flex-basis:100px;
        flex-shrink: 0;
        text-align: center;
    }

    &__text {
        font-family: $secondary-font;
        padding-right: 30px ;
    }
    
    &__title {
        color: $color-primary;
        font-size: 18px;
        font-family: $default-font;
    }

}

.news {
    background-color: $color-secondary;
    margin: 20px;
    font-family: $default-font;
    padding: 4px 20px;

    &__date {
        color: #888888; 
    }
    &__title {
        color: $color-primary;        
    }
}
.footer {
    color: white;
    background-color: #444444;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: $default-font;
} 


h2 {
    font-size: 24px;
    font-family: $default-font;
    font-weight: 600;
    padding: 0 20px;
}

 